<!-- <html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <!-- <h1>Assign Delivery Boy</h1> -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- <script type="text/javascript">
    $(document).ready(function () {
      $(".btn-group .btn").click(function () {
        var inputValue = $(this).find("input").val();
        if (inputValue != 'all') {
          var target = $('table tr[data-status="' + inputValue + '"]');
          $("table tbody tr").not(target).hide();
          target.fadeIn();
        } else {
          $("table tbody tr").fadeIn();
        }
      });
      // Changing the class of status label to support Bootstrap 4
      var bs = $.fn.tooltip.Constructor.VERSION;
      var str = bs.split(".");
      if (str[0] == 4) {
        $(".label").each(function () {
          var classStr = $(this).attr("class");
          var newClassStr = classStr.replace(/label/g, "badge");
          $(this).removeAttr("class").addClass(newClassStr);
        });
      }
    });
  </script> -->

  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2>Assign <b>Delivery Boy</b></h2>
        </div>
        <div class="col-sm-6">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-success">
              <input type="radio" name="status" value="active"> Available
            </label>
            <label class="btn btn-warning">
              <input type="radio" name="status" value="inactive"> Unavailable
            </label>
            </div>
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>id</th>
          <th>Name</th>
          <th>Status</th>
          <th>Phone No&nbsp;Location</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr data-status="active">
          <td>1</td>
          <td>Paresh</td>
          <td><span class="label label-success">Available</span></td>
          <td>9876543210</td>
          <td><a href="#" class="btn btn-sm manage">Manage</a></td>
        </tr>
        <tr data-status="inactive">
          <td>2</td>
          <td>Rohit</td>
          <td><span class="label label-warning">Unavailable</span></td>
          <td>7282920164</td>
          <td><a href="#" class="btn btn-sm manage">Manage</a></td>
        </tr>
        <tr data-status="active">
          <td>3</td>
          <td>Shubham</td>
          <td><span class="label label-success">Available</span></td>
          <td>6754746575</td>
          <td><a href="#" class="btn btn-sm manage">Manage</a></td>
        </tr>
      </tbody>
    </table>
  </div>