


<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
  
  </div>
  
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    
  
  
  
  <div class="jumbotron">
    <div class="container">
  <h3 style="text-align: center">Change Password</h3>
  <div class="row">
      
      <div class="form-group">
        <label for="">Email</label>
        <input  readonly [(ngModel)]="user.email" type="email" class="form-control" name="email">
      </div>

      <div class="form-group">
        <label for="">Password</label>
        <input [(ngModel)] ="user.password" type="password" class="form-control" name="password">
      </div>
      <div class="form-group">
        <label for="">New Password</label>
        <input [(ngModel)]="user.newpassword" type="password" class="form-control" name="newpassword">
      </div>
      
      <div class="form-group">
          <button (click)="UpdatePassword()" class="btn btn-success">Update</button>
          <button (click)="onCancel()" class="btn btn-danger" style="margin-left: 10px;">Cancel</button>
      </div>
    </div>
    </div>
  </div>
  </div>