<!-- 
<form #myForm="ngForm" (ngSubmit)="add(myForm)" role="form">

 

  {{msg}}
  <div class="form-group">
  <label class="sr-only" for="No">No</label>
    <input   id="no" ngModel name="no" placeholder="Please enter no">
  </div>
  <div class="form-group">
  <label class="sr-only" for="">Name</label>

    <input   id="name"  ngModel name="name" placeholder="Please enter Name">
  </div>
  <div class="form-group">
  <label class="sr-only" for="">Address</label>

    <input   id="address"  ngModel name="address" placeholder="Please enter address">
  </div>

  

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
 -->


 
 <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
   
</div>

<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">


<div class="jumbotron" >
 <div class="container">
   
   <div class="container ">

     <legend>Edit  Product</legend>
     <form  (ngSubmit)="showallprod()" class="form">
       <div class="form-group">
         <label for="name">Edit Name:</label>
         <input type="name" [(ngModel)]="product.pName" class="form-control" placeholder="Enter name" name="pName">
       </div>
       <div class="form-group">
         <label for="address">Edit Price:</label>
         <input type="address" [(ngModel)]="product.pPrice" class="form-control" placeholder="Enter address" name="pPrice">
       </div>
   
   
 
       <label for="image"><b>Edit Image</b></label>
       <input (change)="onSelectFile($event)" style="border: none" type="file" class="form-control">
       <br>
       <button type="submit" class="btn btn-primary">Save</button>
     </form>
   </div>
 </div>
</div>
</div>
