
<div class="jumbotron">
  <div class="container">
    <h2>About Us</h2>
    <!-- <p>
      
    </p> -->
  <div class=block>
    <legend style="color: brown; padding: 24px;">Consumer Comes First</legend> 
    <p>
    Consumer is priority for Us.
    We measure success by consumer satisfaction.
    We feel responsible for all problems faced by the customer and think of solutions in an
    unconstrained manner.
    </p>
  </div>
  <div class=block>
    <legend style="color: brown;  padding: 24px">Explore</legend>
    <p>
        System has many restaurants to choose from.
        When you open the app, you can scroll through the feed for find or search for a particular 
        restaurant. When you find something you like, tap to add it to your cart.                                                
    </p>
  </div>
  <div class=block>
    <legend style="color: brown;  padding: 24px">Variety</legend>
    <p>
      Consumer will find many restaurants and variety of dishes.
      You will find indian, chinese, italian etc. food to enjoy your day.    
    </p>
  </div>
  
  </div>
</div>

