  
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

  <div class="jumbotron  "  >
    <div class="container">

  <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 img" style="height: 100vh; width: 1200px;"> -->
        <h4>Login</h4>
        <form (ngSubmit)="onLogin()" class="form">

        <div class="form-group">
        <label for="">Email</label>
        <input [(ngModel)]="user.email" name="email" type="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="">Password</label>
        <input [(ngModel)]="user.password" name="password" type="password" class="form-control">
      </div>
      <div class="form-group">
        <button (click)="onLogin()" class="btn btn-success">Login</button>
        <button (click)="onCancel()" class="btn btn-danger" style="margin-left: 10px;">Cancel</button>
      </div>
        </form>
    </div>
</div>
</div>


