<!-- <div class="jumbotron">
    <div class="container">




        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> -->
<!--     
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Product No</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Product Image</th>
            <th>Product Type</th>
            
            <th>Cuisine Type</th>
            
        </tr>
    </thead>

    <tbody>
            <tr *ngFor="let p of product">
                {{p.pId}}
                {{p.pName}}
                {{p.pPrice}}
                 <img src="data:image/gif;base64,{{p?.image.image}}" class="img-resposive" alt="">

                {{p.vegnonveg}}
                {{p.cType}}
                 <a href="/vendor/editproduct/{{p.pId}}"> Edit</a>
                </tr>
        </tbody>
</table>
 -->
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" *ngFor="let p of product">
    <div class="jumbotron "style="border-radius:20px "  >
        <div class="container">


            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <img src="data:image/gif;base64,{{p?.image.image}}" class="img-resposive "
                    style="width: 150px;height: 150px; border-radius:20px ;" alt="">
            </div>


            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
             
                <ul>

                    <li><span>Product No:</span> {{p.pId}}</li>
                    <li><span>Product Name: </span> {{p.pName}}</li>
                    <li><span>Product Price:</span> {{p.pPrice}} </li>
                    <li><span>Cuisine Type :</span> {{p.cType}} </li>

                    <li><span>Product Type:</span> {{p.vegnonveg}} </li>
              
              
             <u>      <a href="/vendor/editproduct/{{p.pId}}"> Edit Product</a></u> 
             
             
             
                </ul>
            </div>
        </div>

    </div>
</div>