<nav class="navbar navbar-default navbar nav"  style="width:100%;">
  <div class="container" >
   
  
<ul class="nav navbar-nav" >

  
  <ul class="nav navbar-nav" >
    <li ><a routerLink="/admin/listUser">List Of Users</a></li>
    <li><a routerLink="/admin/listOrder">List of Orders</a></li>
    <li><a routerLink="/admin/viewHistory">View Order History</a></li>
    <!-- <li><a routerLink="/admin/deleteVendor">Delete Restaurant</a></li> -->
    <li><a routerLink="/admin/assignDelBoy">Assign Delivery Boy</a></li>   
    <li><a routerLink="/admin/addvendor">Add Vendor </a></li>   
              
    <li><a routerLink="/admin/addDelBoy">Add Delivery Boy</a></li>
    <li><a routerLink="/admin/changepassword" routerLinkActive="active">Change Password</a></li> 
  </ul>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li><button (click)="onLogout()" style="margin-top: 10px; margin-right:25px ;" class="btn btn-link">Logout</button></li>
</ul>
  </div>
</nav>
<router-outlet></router-outlet>