


<div class="jumbotron" >
    <div class="container">


<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    

<table class="table  table-hover">
    <thead>
        <tr>
            <th>Product No</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Product Quantity</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Burger</td>
            <td>Rs 500</td>
            <td> <input type="number" name="qty" id="quantity" value="5" class="wid" ></td>
        </tr>
        <tr>
                <td>2</td>
                <td>Pizza</td>
                <td>Rs 450</td>
                <td> <input type="number" name="qty" id="quantity" value="1" class="wid"></td>

              </tr>
          
        </tbody>
      
</table>
<!-- <div class="form-group"></div>
<span style="float: right;">Total Cart Value(Rs):2950</span>
<input type="number" name="qty" id="quantity" value="1" class="wid"></td> -->

<button (click)="paydetails()" class="btn btn-success"   style="float: right;">Pay Rs.2950</button>

</div>
      
</div>
</div>

