
<div class="table-responsive">
    <table class="table">
      <tr>
        <th scope="col">Order Id</th>
        <th scope="col">Order Date</th>
        <th scope="col">Order Time</th>
        <th scope="col">Customer Id</th>
        <th scope="col">Vendor Id</th>
      </tr>
      <tr *ngFor="let order of orders">
        <td>{{order.id}}</td>
        <td>{{order.orderdate}}</td>
        <td>{{order.ordertime}}</td>
        <td>{{order.customerId}}</td>
        <td>{{order.vendorId}}</td>
      </tr>
    </table>
  
  </div>